.main {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 32px;
}

.heading {
  margin-bottom: 24px;
}

.link {
  color: aquamarine;
}
